body {
	background-color: #f8f8f6;
	width: 880px;
	margin: auto;
	
}

.big {
	width: 420px;
	height: 420px;
	background-color: #575965;
	border-radius: 10px;
	float: left;
	margin: 10px;
}

.small {
	width: 200px;
	height: 200px;
	background-color: #c3c4c8;
	float: left;
	border-radius: 10px;
	margin: 10px;
}

.small-back {
	width: 200px;
	height: 200px;
	background-color: #939498;
	float: left;
	border-radius: 10px;
	margin: 10px;
}
.big1 {
	width: 420px;
	height: 200px;
	background-color: #575965;
	border-radius: 10px;
	float: left;
	margin: 10px;
}

@keyframes round {
	0% {
		transform-origin: left;
	}
	25% {
		
	}
	50% {
		
	}
	75% {
		
	}
	100% {
		
	}
}