html {
	font-family: 'Raleway', sans-serif;
	font-size: 62.5%;
	background-color: #CFDBD5;
	color: #333533;
}

.menu, .menu li {
	text-decoration: none;
}

.menu {
	 font-size: 1.8rem;
	display: inline;
	padding: .5rem;
	margin: 0 1rem;
}

li {
	background-color: #E8EDDF;
	border: 2px dotted #F5CB5C;
	padding: .5rem;
	margin: 1rem 0;
}

.menu:before, .menu:after {
	content:'';
	display: inline-block;
}

.menu:after {
	clear:both;
}

.menu li {
	float: left;
	position: relative;
	
}

.menu ul {
	visability: hidden;
	position: absolute;
	right: 0;
}
.submenu li {
	margin: 0;
}