body {
	background-color: #f8f8f6;
	margin: 0;
	padding: 0;
}

.row {
	display: flex;
	width: 100%;
}

.half {
	width: 50%;
	height: 650px;
	display: flex;
	flex-wrap: wrap;
}

.big {
	width: 98%;
	height: 620px;
	background-color: #575965;
	border-radius: 10px;
	margin: 10px;
}
.small {
	background-color: #c3c4c8;
	border-radius: 10px;
	margin: 10px;
	width: 47%;
	height: 300px;
	justyfy-content: space-evenly;
	flex-wrap: wrap;
	
}

.small-back {
	background-color: #939498;
	border-radius: 10px;
	margin: 10px;
	width: 47%;
	height: 300px;
}

.big1 {
	width: 98%;
	height: 620px;
	background-color: #575965;
	border-radius: 10px;
	margin: 10px;
}

#gif {
	animation: animate 8s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotateY(0deg);
	}

	
	62.5% {
		background-color: #1B9AAA;
	}
	
	100% {
		transform: rotateY(360deg);
		background-color: #c3c4c8;
		;
	}
} 