body {
	background-color: #f8f8f6;
	width: 880px;
	margin: auto;	
}

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}


.big {
	flex: 2 400px;
	height: 420px;
	background-color: #575965;
	border-radius: 10px;
	margin: 10px;
}

.small {
	flex: 1 200px;
	height: 200px;
	background-color: #c3c4c8;
	flex-flow: row-reverse;
	border-radius: 10px;
	margin: 10px;
}

.small-back {
	flex: 1 200px;
	height: 200px;
	background-color: #939498;

	border-radius: 10px;
	margin: 10px;
}
.big1 {
	flex: 2 400px;
	height: 420px;
	background-color: #575965;
	border-radius: 10px;
	
	margin: 10px;
}

#gif {
	transform-origin: left center;
	animation: round 15s linear 0.1s;
}

/*@keyframes round {
	0% {
		
	}
	
	12.5% {
		-webkit-transform: perspective(150px) rotateY(-45deg);
		-moz-transform: perspective(150px) rotateY(-45deg);
		-o-transform: perspective(150px) rotateY(-45deg);
		transform: perspective(150px) rotateY(-45deg);
	}
	
	25% {
		background-color: #1B9AAA;
		-webkit-transform: rotateY(90deg);
		-moz-transform: rotateY(90deg);
		-o-transform: rotateY(90deg);
		transform: rotateY(90deg);
	}
	
	37.5% {
		background-color: #1B9AAA;
		-webkit-transform: perspective(150px) rotateY(45deg);
		-moz-transform: perspective(150px) rotateY(45deg);
		-o-transform: perspective(150px) rotateY(45deg);
		transform: perspective(150px) rotateY(45deg);
	}
	
	50% {
		background-color: #1B9AAA;
	}
	
	62.5% {
		background-color: #1B9AAA;
		-webkit-transform: perspective(150px) rotateY(-45deg);
		-moz-transform: perspective(150px) rotateY(-45deg);
		-o-transform: perspective(150px) rotateY(-45deg);
		transform: perspective(150px) rotateY(-45deg);
	}
	
	75% {
		background-color: #c3c4c8;
		-webkit-transform: rotateY(90deg);
		-moz-transform: rotateY(90deg);
		-o-transform: rotateY(90deg);
		transform: rotateY(90deg);
	}
	
	87.5% {
		background-color: #c3c4c8;
		-webkit-transform: perspective(-150px) rotateY(45deg);
		-moz-transform: perspective(-150px) rotateY(45deg);
		-o-transform: perspective(-150px) rotateY(45deg);
		transform: perspective(-150px) rotateY(45deg);
	}
	
	100% {
		background-color: #c3c4c8;
		;
	}
} */